* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F9F9F9;
}

header {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.container {
    margin: 30px;
}

#title {
    font-size: 40px;
    padding: 10px;
}

footer {
    color: #333333;
    text-align: center;
    padding: 10px;
}